body {
	background: white;
	overflow-y: scroll;
	text-align: center;
}

body,
input {
	font-size: 11pt;
	font-family: 'Verdana', sans-serif;
	color: black;
}

img {
	border: 0;
}

#main {
	text-align: left;
	margin: 0 auto;
	max-width: 69em;
}
	a.logo {
		display: block;
		margin: 0 auto;
	}
	body.logo a.logo {
		margin-bottom: 1em;
	}
	body.logo #main {
		text-align: center;
		max-width: 50em;
		display: inline-block;
	}
	body.logo .message {
		display: inline-block;
	}
	body.logo form {
		margin: 0 auto;
		text-align: left;
	}
	.content-wrapper {
		display: inline-block;
		text-align: left;
	}

.message {
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 0.5em 1em;
	font-size: 110%;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
	white-space: pre-wrap;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.05);
}
.message.error {
	background: rgba(255, 0, 0, 0.05);
}
.message.warning {
	background: rgba(255, 255, 0, 0.1);
}
.message.success {
	background: rgba(0, 200, 0, 0.1);
}
.message.info {
	background: rgba(0, 0, 255, 0.1);
}

a {
	color: black;
	text-decoration: none;
	transition: color 0.25s ease 0s;
}
a:focus {
	outline: 1px dashed hsl(215,80%,75%);
}

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url('/img/icons.png');
	background-repeat: no-repeat;
	/*transition: background-color 0.25s ease 0s;*/
	vertical-align: middle;
	opacity: .25;
}
a:focus .icon,
a:hover .icon {
	opacity: 1;
}

.icon-menu         { background-position: -0px 0; }
.icon-manage       { background-position: -20px 0; }
.icon-add          { background-position: -40px 0; }
.icon-up           { background-position: -60px 0; }
.icon-down         { background-position: -80px 0; }
.icon-drag         { background-position: -100px 0; }
.icon-align-left   { background-position: -120px 0; }
.icon-align-center { background-position: -140px 0; }
.icon-align-right  { background-position: -160px 0; }
.icon-delete       { background-position: -180px 0; }
.icon-edit         { background-position: -200px 0; }
.icon-close        { background-position: -220px 0; }

input[type=radio],
input[type=checkbox] {
	margin: 0.5em 0.2em;
}
input[type=checkbox] {
	display: none;
}
	input[type=checkbox]+label.checkbox:before {
		width: 20px;
		height: 20px;
		display: inline-block;
		content: ' ';
		background-image: url('/img/icons.png');
		background-repeat: no-repeat;
		vertical-align: middle;
		background-position: -240px 0;
		/*transition: background-color 0.25s ease 0s;*/
		margin-right: 0.25em;
	}
	input[type=checkbox]:checked+label.checkbox:before {
		background-position: -260px 0;
	}

input[type=text],
input[type=password] {
	margin: 0.2em 0;
	padding: 3px 6px;
	border: 1px solid lightgray;
	border-radius: 3px;
}
	label+input[type=text],
	label+input[type=password] {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

.btn {
	margin: 0.2em;
	padding: 5px 12px;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	cursor: pointer;
	transition: background-color 0.25s ease 0s,
		border-color 0.25s ease 0s;
}
.btn.hl {
	border-color: #eee;
	background: #eee;
}
.btn::-moz-focus-inner {
	border: 0;
}
	.btn:hover,
	.btn:focus {
		border-color: hsl(215,100%,85%);
		background: hsl(215,100%,90%);
		outline: 0;
	}
	.btn.hl:hover,
	.btn.hl:focus {
		border-color: hsl(215,97%,80%);
		background: hsl(215,97%,80%);
		outline: 0;
	}


.form-wrapper {
	display: table;
	width: 100%;
}
	form div.input-row {
		display: table-row;
	}
	form div.input-row label:not(.checkbox) {
		display: table-cell;
		text-align: right;
		padding: 0 0.5em;
	}
	form label[for] {
		cursor: pointer;
	}
	form.inline {
		display: inline;
	}

th {
	font-weight: normal;
	text-align: left;
}

hr {
	border: 0;
	background: #eee;
	height: 2px;
}

footer {
	margin-top: 2em;
	padding: 0.5em 0.2em;
	border-top: 1px solid #eee;
	position: relative;
	color: silver;
	font-size: 90%;
	text-align: right;
}
	footer p {
		margin: 0 1em;
	}
	footer p:first-child {
		margin-left: 0;
	}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 18pt;
	margin: 0 0 1em 0;
}

h2 {
	text-align: center;
	font-weight: normal;
	font-size: 15pt;
	margin: 0 0 1em 0;
}

div.clear {
	clear: both;
}

body.dragging * {
	cursor: move;
}
.dragger {
	float: left;
	cursor: move;
}
body .dragging .dragger .icon {
	background-position: -100px -20px;
	opacity: 1;
}

.return-link-wrapper {
	text-align: center;
	margin: 1em 0;
}
.return-link {
	margin: 0 auto;
}
