body,
input {
	font-size: 11pt;
	font-family: 'Verdana', sans-serif;
}

#main {
	text-align: left;
	margin: 0 auto;
	max-width: 60em;
}

.message {
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 0.2em 0.5em;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
}
.message.error {
	background: rgba(255, 0, 0, 0.1);
}
.message.warning {
	background: rgba(255, 255, 0, 0.1);
}
.message.success {
	background: rgba(0, 200, 0, 0.1);
}
.message.info {
	background: rgba(0, 0, 255, 0.1);
}

a {
	color: black;
	text-decoration: none;
	transition: color 0.25s ease 0s;
}
a:focus {
	outline: 1px dashed #8a8;
}

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url('/img/icons.png');
	background-repeat: no-repeat;
	background-color: black;
	transition: background-color 0.25s ease 0s;
}
