#inner-header {
	position: relative;
}
	#inner-header:after {
		clear: both;
		content: ' ';
		display: block;
	}

	#search {
		margin-top: 1em;
		float: left;
	}
		#search input {
			margin: 0 1em 0 0;
			font-size: 95%;
			vertical-align: middle;
		}
		#search p {
			font-size: 95%;
			display: inline-block;
			margin: 0;
		}
