#inner-content .message {
	border: 0;
	padding: 0;
	margin-top: 2em;
	background: transparent;
}

#list {
	width: 100%;
	empty-cells: show;
	border-collapse: collapse;
	margin-bottom: 1em;
	table-layout: fixed;
}
	#list td,
	#list th {
		line-height: 30px; /* ensure row has enough height to show the icon */
		vertical-align: middle;
		white-space: nowrap;
		padding: 0 3px;
	}
	#list input[type=text] {
		border: 0;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0;
		outline: 0;
		border-radius: 0;
		background: transparent;
	}
	#list td .input-wrapper {
		vertical-align: top;
		margin: 0 30px 0 0;
		border-top: 3px solid #f5f5f5;
		border-bottom: 3px solid #f5f5f5;
		line-height: normal;
		background: white;
		height: 24px;
	}
	#list div {
		position: relative;
	}
	#list span {
		vertical-align: middle;
		line-height: 30px;
		display: block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 26px;
	}
	#list:not([data-can-edit='1']) span {
		margin-right: 6px;
	}
	#list span:before {
		display: inline-block;
		content: '\a0';
		cursor: default;
		width: 0;
	}
	#list a.edit-content {
		opacity: 0; /* thanks to using opacity for invisibility, focus can be obtained */
		position: absolute;
		right: 0;
	}
	#list td:hover .icon-edit {
		background-color: #4d8;
	}
	#list a .icon {
		display: block;
		margin: 5px 0;
	}
	#list .row-ops {
		width: 20px;
	}

	#list tr.active td /* normal cells */,
	#list tr.active:before /* row-ids */ {
		background: #f5f5f5;
	}
		/* because why bother standarizing background-position-y, for crying out loud! */
		#list tr.active td .icon-edit   { background-position: -200px -20px; }
		#list tr.active td .icon-delete { background-position: -180px -20px; }
		#list tr.active a.edit-content,
		#list tr.active input[type=checkbox] {
			opacity: 1;
		}

	#list th.col-center,
	#list td.col-center {
		text-align: center;
	}
	#list th.col-right,
	#list td.col-right {
		text-align: right;
	}

#table-ops {
	text-align: center;
}
	#table-ops input {
		margin: 0 0.5em;
	}

#list {
	counter-reset: row;
}
#list tbody tr {
	counter-increment: row;
}
#list[data-show-row-ids="1"] tbody tr:before {
	display: table-cell;
	width: 2.5em;
	content: counter(row);
	vertical-align: middle;
	text-align: right;
	font-size: 95%;
}
#list[data-show-row-ids="1"] thead tr:before {
	display: table-cell;
	width: 2.5em;
	content: ' ';
}

#inner-content .rc-handle {
	width: 20px;
	margin-left: -23px;
	line-height: 30px;
}
