.icon-up {
	background-position: -64px -1px;
}
.icon-down {
	background-position: -85px -1px;
}
tr:first-child .icon-up {
	background-color: lightgray;
}
tr:last-child .icon-down {
	background-color: lightgray;
}
