html,
body,
#main,
#outer-wrapper {
	height:100%;
}

body.list {
	background: #ededed;
	margin: 0;
	padding: 0;
}
#main {
	max-width: 100%;
}
#outer-wrapper {
	width: 100%;
	overflow: hidden;
	display: table;
}
#sidebar {
	display: table-cell;
}
#outer-content {
	background: white;
	width: 100%;
	vertical-align: top;
	display: table-cell;
}
#inner-content {
	margin: 0.75em 1.5em 0.75em 0.75em;
	padding-right: 150px;
	min-height: 40em;
}

#inner-header {
	position: relative;
}
	#inner-header:after {
		clear: both;
		content: ' ';
		display: block;
	}


#right-ad-unit {
	margin: 0.75em;
	width: 150px;
	height: 600px;
	float: right;
}
