#inner-content .message {
	border: 0;
	padding: 0;
	margin-top: 2em;
	background: transparent;
}

#list {
	width: 100%;
	empty-cells: show;
	border-collapse: collapse;
	margin-bottom: 1em;
	table-layout: fixed;
}
	#list td,
	#list th {
		line-height: 30px; /* ensure row has enough height to show the icon */
		vertical-align: middle;
		white-space: nowrap;
		padding: 0 3px;
	}
	#list th {
		border-bottom: 1px solid #ddd;
	}
	#list input[type=text] {
		border: 0;
		width: 100%;
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		margin: 0 -3px;
		padding: 0 3px;
		outline: 0;
		border-radius: 0;
		background: transparent;
	}
	#list td .input-wrapper {
		vertical-align: top;
		margin: 3px 20px 3px 0;
		line-height: 24px;
		background: lightyellow;
		height: 24px;
		overflow: hidden;
	}
	#list div {
		position: relative;
	}

	#list span.content-holder {
		vertical-align: middle;
		display: block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
		#list span.content-holder:before {
			display: inline-block;
			content: '\a0';
			cursor: default;
			width: 0;
		}
		#list:not([data-can-edit='1']) span.content-holder {
			margin-right: 6px;
		}
		#list[data-can-edit='1'] span.content-holder {
			margin-right: 20px;
		}

	#list a.dragger,
	#list a.edit-content {
		position: absolute;
		font-size: 0;
		right: 0;
		margin: 0 -2px 0 2px;
	}
	#list tbody tr .icon {
		opacity: 0; /* thanks to using opacity for invisibility, focus can be obtained */
	}
		#list tbody tr:hover .icon,
		#list tbody tr.edit .icon,
		#list tbody :focus .icon {
			opacity: .15;
		}
		#list tbody td:hover .icon,
		#list tbody td.edit .icon,
		#list tbody :focus .icon {
			opacity: 1;
		}

	#list a .icon {
		margin: 5px 0;
	}
	#list th.row-ops,
	#list td.row-ops {
		width: 30px;
	}

	/* normal cells */
	#list tbody tr:hover td,
	#list tbody tr.edit td,
	/* row-ids */
	#list tbody tr:hover:before,
	#list tbody tr.edit:before {
		background: #f5f5f5;
	}

		#list tbody tr.fresh td {
			border-top: 2px solid hsl(215,80%,90%);
		}

		/* because why bother standarizing background-position-y, for crying out loud! */
		#list tbody td:hover .icon-edit,
		#list tbody td.edit .icon-edit,
		#list tbody :focus .icon-edit {
			background-position: -200px -20px;
		}

		#list tbody td:hover input[type=checkbox]+label.checkbox:before,
		#list tbody td.edit input[type=checkbox]+label.checkbox:before {
			background-position: -280px -20px;
			opacity: 1;
		}
		#list tbody td:hover input[type=checkbox]:checked+label.checkbox:before,
		#list tbody td.edit input[type=checkbox]:checked+label.checkbox:before {
			background-position: -300px -20px;
			opacity: 1;
		}
		#list tbody td input[type=checkbox]+label.checkbox:before {
			background-position: -280px 0;
			opacity: .15;
		}
		#list tbody td input[type=checkbox]:checked+label.checkbox:before {
			background-position: -300px 0;
			opacity: 1;
		}

	#list th.col-center,
	#list td.col-center,
	#list th.col-center input[type=text],
	#list td.col-center input[type=text] {
		text-align: center;
	}
	#list th.col-right,
	#list td.col-right,
	#list th.col-right input[type=text],
	#list td.col-right input[type=text] {
		text-align: right;
	}
	#list tfoot {
		display: none;
	}

#table-ops {
	text-align: center;
}
	#table-ops input {
		margin: 0 0.5em;
	}

#list {
	counter-reset: row;
}
#list tbody tr {
	counter-increment: row;
}
#list[data-show-row-ids="1"] tr:before {
	display: table-cell;
	padding-right: 0.5em;
	width: 2.5em;
	text-align: right;
	vertical-align: middle;
	line-height: 30px;
	font-size: 95%;
}
	#list[data-show-row-ids="1"] thead tr:before {
		content: ' ';
	}
	#list[data-show-row-ids="1"] tbody tr:before {
		content: counter(row);
	}
