#sidebar {
	width: 12em;
	float: left;
	padding-top: 0.5em;
}
#sidebar-top {
	text-align: center;
}

#sidebar ul {
	list-style-type: none;
	margin: 1.5em 0 1em 0;
	padding: 0;
}
	#sidebar li {
		margin: 0;
		padding: 0;
		position: relative;
	}

	#save-info {
		font-size: 70%;
		margin: 0.5em 0 0;
		color: gray;
	}

#sidebar-nav {
	position: relative;
}

#sidebar li a:not(.dragger) {
	display: block;
	margin: 0 0 0 20px;
	padding: 0 0.5em;
	line-height: 35px;
	color: gray;
}

	#sidebar li a:hover,
	#sidebar li.active a {
		color: black;
	}


#sidebar-nav a.list {
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}
	#sidebar-nav li.active {
		background: #f6f6f6;
	}

#sidebar a.dragger {
	vertical-align: middle;
	line-height: 35px;
	width: 20px;
	position: absolute;
	visibility: hidden; /* disallow focus */
}
#sidebar .dragging a.dragger,
#sidebar li:hover a.dragger {
	visibility: visible;
}
