.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	z-index: 98;
}
.popup {
	z-index: 99;
	position: absolute;
	background: white;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 1em;
	box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.popup .ajax-wrapper {
	text-align: center;
}
.popup .ajax-wrapper>* {
	text-align: initial;
}
.popup form {
	margin: 0 auto;
}
.popup p.message {
	margin-top: 0;
}

.popup-close {
	float: right;
}
