[submodule "lib/chibi-core"]
	path = lib/chibi-core
	url = https://github.com/rr-/chibi-core.git
[submodule "lib/chibi-sql"]
	path = lib/chibi-sql
	url = https://github.com/rr-/chibi-sql.git
[submodule "lib/TextCaseConverter"]
	path = lib/TextCaseConverter
	url = https://gist.github.com/rr-/10522533.git
[submodule "lib/EmailObfuscator"]
	path = lib/EmailObfuscator
	url = https://gist.github.com/rr-/7179962.git
